[Unit]
Description=fwknop SPA service
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=900
ExecStartPre=-/usr/bin/docker kill fwknop
ExecStartPre=-/usr/bin/docker rm fwknop
ExecStartPre=/usr/bin/docker pull quay.io/goodguide/fwknop:2.6.7-0
ExecStart=/usr/bin/docker run \
  --name fwknop \
  --net=host \
  --cap-add=NET_ADMIN \
  --volume /var/run/fwknop/gpg-keychain:/root/.gnupg \
  --volume /var/run/fwknop/runtime:/usr/var/fwknop \
  -e ETCDCTL_PEERS='http://172.17.0.1:4001' \
  quay.io/goodguide/fwknop:2.6.7-0
ExecStop=/usr/bin/docker kill fwknop

[X-Fleet]
Global=true
